# Auto detect text files and perform LF normalization
* text=auto

# Custom
*.script text linguist-language=Lua
*.ltx    text linguist-language=INI
*.ps     text linguist-language=C++
*.vs     text linguist-language=C++
*.s      text linguist-language=Lua
