<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnableLexerErrors>true</EnableLexerErrors>
  <EnableParserErrors>true</EnableParserErrors>
  <EnableDuplicateErrors>true</EnableDuplicateErrors>
  <EnableTraderErrors>true</EnableTraderErrors>
</Settings>